# Ignore everything by default
*

# Keep Jupyter notebooks
!*.ipynb

# Keep folders and their contents
!unlabel_figures*/
!unlabel_figures/**/*

!unlabel_preds*/
!unlabel_preds/**/*

!models/
!models/**

# Keep .gitignore itself
!.gitignore

# Optionally keep README
!README.md