# ignore everything
*

# keep notebooks
!*.ipynb

# keep any folder starting with unlabel_figures
!unlabel_figures*/
!unlabel_figures*/**

# keep any folder starting with unlabel_preds
!unlabel_preds*/
!unlabel_preds*/**

# keep models
!models/
!models/**

!.gitignore
!README.md